@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Condensed"), local("UbuntuCondensed-Regular"), url(../fonts/UbuntuCondensedRegular.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url(../fonts/UbuntuMedium.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

.container {
  display: flex;
  width: 1160px;
  margin: 0 auto; }

.feature:nth-child(1)::before, .feature:nth-child(2)::before, .feature:nth-child(3)::before {
  position: absolute;
  top: 0;
  left: 0;
  opacity: .1; }

.section-title {
  color: #fff;
  font-size: 24px;
  font-family: Ubuntu;
  line-height: 20px; }

.header-container {
  justify-content: space-between;
  align-items: center; }
  .header-container .logo {
    margin: 35px 0 35px 5px; }
  .header-container .icon-links {
    margin-left: 5px; }
    .header-container .icon-links .icon-links__icon {
      margin-right: 20px;
      color: #000;
      font-size: 14px;
      opacity: .2; }
      .header-container .icon-links .icon-links__icon:hover {
        color: #248cec;
        opacity: 1; }

.nav {
  margin-bottom: 40px; }
  .nav .nav-container {
    justify-content: space-between;
    align-items: center;
    background-color: #2a2d32; }
    .nav .nav-container .main-menu {
      display: flex; }
      .nav .nav-container .main-menu .main-menu__item {
        border-right: 1px solid #181a1d; }
        .nav .nav-container .main-menu .main-menu__item:hover .main-menu__link {
          color: #f4b60d; }
        .nav .nav-container .main-menu .main-menu__item .main-menu__link {
          display: block;
          padding-top: 0;
          padding-right: 40px;
          padding-bottom: 0;
          padding-left: 40px;
          color: #fff;
          font-size: 14px;
          font-family: "Ubuntu Condensed";
          line-height: 56px; }
        .nav .nav-container .main-menu .main-menu__item .main-menu__link_active {
          background-color: #248cec; }
    .nav .nav-container .search-form {
      margin-right: 8px; }
      .nav .nav-container .search-form .search-form__input {
        width: 200px;
        height: 40px;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 15px;
        background-color: #35383c;
        border-top: 1px solid #181a1d;
        border-right: 0;
        border-bottom: 1px solid #181a1d;
        border-left: 1px solid #181a1d;
        box-sizing: border-box;
        color: #fff;
        outline: none; }
      .nav .nav-container .search-form .search-form__button {
        height: 40px;
        margin-left: -4px;
        padding-top: 0;
        padding-right: 13px;
        padding-bottom: 0;
        padding-left: 13px;
        background-color: #35383c;
        border-top: 1px solid #181a1d;
        border-right: 1px solid #181a1d;
        border-bottom: 1px solid #181a1d;
        border-left: 0;
        outline: none;
        cursor: pointer; }
        .nav .nav-container .search-form .search-form__button .search-form__button-icon {
          color: #fff;
          font-size: 14px;
          opacity: .2; }

::-webkit-input-placeholder {
  color: #fff;
  opacity: .2; }

.slider {
  position: relative;
  overflow: hidden; }
  .slider .slider__block {
    width: 9999px; }
    .slider .slider__block .slider__item {
      width: 1160px;
      height: 470px;
      float: left; }
      .slider .slider__block .slider__item .slider__img {
        width: inherit; }
  .slider .slider__nav {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 17px;
    width: 100%; }
    .slider .slider__nav .slider__nav-item {
      display: block;
      width: 15px;
      height: 15px;
      margin-right: 15px;
      background-color: #fff;
      cursor: pointer; }
      .slider .slider__nav .slider__nav-item:last-child {
        margin-right: 0; }
    .slider .slider__nav .slider__nav-item_checked::after {
      display: block;
      width: 9px;
      height: 9px;
      margin-top: 3px;
      margin-left: 3px;
      background-color: #001d1d;
      content: ''; }

.feature {
  position: relative;
  width: 360px;
  margin-top: 70px;
  margin-right: 40px;
  padding-top: 50px;
  padding-right: 0;
  padding-bottom: 85px;
  padding-left: 120px;
  background-position: 120px 0;
  background-repeat: no-repeat;
  box-sizing: border-box; }
  .feature:last-child {
    margin-right: 0; }
  .feature:nth-child(1) {
    background-image: url("../img/feature-1.png"); }
  .feature:nth-child(1)::before {
    color: #2a2d32;
    font-size: 90px;
    font-family: Ubuntu;
    line-height: 66px;
    content: "01"; }
  .feature:nth-child(2) {
    background-image: url("../img/feature-2.png"); }
  .feature:nth-child(2)::before {
    color: #2a2d32;
    font-size: 90px;
    font-family: Ubuntu;
    line-height: 66px;
    content: "02"; }
  .feature:nth-child(3) {
    background-image: url("../img/feature-3.png"); }
  .feature:nth-child(3)::before {
    color: #2a2d32;
    font-size: 90px;
    font-family: Ubuntu;
    line-height: 66px;
    content: "03"; }
  .feature .feature__title {
    color: #2a2d32;
    font-size: 20px;
    font-family: Ubuntu;
    line-height: 1; }
  .feature .feature__text {
    color: #8a8a8a;
    font-size: 13px;
    font-family: Arial;
    line-height: 20px;
    height: 60px;
    margin-bottom: 20px;
    padding-top: 20px;
    overflow: hidden; }
  .feature .feature__link {
    color: #2a2d32;
    font-size: 13px;
    font-family: Ubuntu;
    line-height: 20px; }
    .feature .feature__link:hover {
      color: #248cec;
      cursor: pointer; }
      .feature .feature__link:hover .feature__arrow-icon {
        margin-left: 15px;
        color: #8a8a8a; }
    .feature .feature__link .feature__arrow-icon {
      margin-left: 10px;
      color: #248cec; }

.services {
  background-color: #2a2d32; }
  .services .services-container {
    display: block; }
    .services .services-container .section-title {
      padding-top: 48px; }
    .services .services-container .services__content {
      display: flex; }
      .services .services-container .services__content .service {
        margin-top: 50px;
        margin-right: 40px;
        margin-bottom: 70px; }
        .services .services-container .services__content .service:last-child {
          margin-right: 0; }
        .services .services-container .services__content .service .service__link {
          display: block;
          position: relative; }
          .services .services-container .services__content .service .service__link .service__img {
            width: 260px;
            height: 260px;
            margin-bottom: 20px; }
          .services .services-container .services__content .service .service__link .service__title {
            color: #fff;
            font-size: 16px;
            font-family: Ubuntu;
            line-height: 20px;
            text-align: center; }
          .services .services-container .services__content .service .service__link:hover .service__title {
            color: #f4b60d; }
          .services .services-container .services__content .service .service__link:hover::before {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 260px;
            height: 260px;
            background-color: #248cec;
            background-image: url("../img/plus.png");
            background-repeat: no-repeat;
            background-position: 113px;
            opacity: .9;
            content: '';
            z-index: 1; }

.content {
  background-color: #f7f7f7; }

.latest-news {
  width: 560px;
  margin-right: 40px;
  box-sizing: border-box; }
  .latest-news .section-title {
    margin-top: 64px;
    margin-bottom: 45px;
    color: #2a2d32; }
  .latest-news .news {
    display: flex;
    position: relative;
    margin-bottom: 30px; }
    .latest-news .news .news__day {
      position: absolute;
      top: 12px;
      left: -16px;
      width: 40px;
      height: 80px; }
      .latest-news .news .news__day .news__month {
        height: 40px;
        background-color: #248cec;
        text-align: center;
        color: #fff;
        font-size: 15px;
        font-family: Ubuntu;
        line-height: 40px; }
      .latest-news .news .news__day .news__date {
        height: 40px;
        background-color: #f4b60d;
        text-align: center;
        color: #2a2d32;
        font-size: 18px;
        font-family: Ubuntu;
        line-height: 40px; }
    .latest-news .news .news__content {
      margin-left: 30px; }
      .latest-news .news .news__content .news__title {
        display: block;
        padding-bottom: 5px;
        color: #2a2d32;
        font-size: 16px;
        font-family: Ubuntu;
        line-height: 20px; }
        .latest-news .news .news__content .news__title:hover {
          color: #248cec; }
      .latest-news .news .news__content .news__info {
        color: #8a8a8a;
        font-size: 13px;
        font-family: Arial;
        line-height: 20px;
        margin-right: 10px; }
        .latest-news .news .news__content .news__info .news__info-resault {
          color: #248cec; }
      .latest-news .news .news__content .news__text {
        color: #8a8a8a;
        font-size: 13px;
        font-family: Arial;
        line-height: 20px;
        padding-top: 25px; }

.banners-place {
  width: 560px; }
  .banners-place .section-title {
    margin-top: 64px;
    margin-bottom: 45px;
    color: #2a2d32; }

.accordion .accordion-item .accordion-item__header {
  display: flex;
  background-color: #fff;
  cursor: pointer; }
  .accordion .accordion-item .accordion-item__header .accordion-item__switch {
    position: relative;
    min-width: 39px;
    border: 1px solid #e8e8e8;
    box-sizing: border-box; }
    .accordion .accordion-item .accordion-item__header .accordion-item__switch::after {
      display: block;
      position: absolute;
      top: 15px;
      left: 15px;
      width: 9px;
      height: 9px;
      background: url("../img/slide-down.png") no-repeat 50% 50%;
      content: ''; }
  .accordion .accordion-item .accordion-item__header .accordion-item__title {
    width: 100%;
    padding-left: 13px;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    text-transform: uppercase;
    color: #2a2d32;
    font-size: 13px;
    font-family: Ubuntu;
    line-height: 37px; }

.accordion .accordion-item .accordion-item__text {
  color: #8a8a8a;
  font-size: 13px;
  font-family: Arial;
  line-height: 20px;
  padding-top: 25px;
  padding-right: 0;
  padding-bottom: 40px;
  padding-left: 38px;
  display: none; }

.accordion .accordion-item .accordion-item__header_open {
  background-color: #f4b60d; }
  .accordion .accordion-item .accordion-item__header_open .accordion-item__switch {
    border-top: 0;
    border-right: 1px solid #f6c53d;
    border-bottom: 0;
    border-left: 0; }
    .accordion .accordion-item .accordion-item__header_open .accordion-item__switch::after {
      background: url("../img/slide-up.png") no-repeat 50% 50%; }
  .accordion .accordion-item .accordion-item__header_open .accordion-item__title {
    padding-left: 14px;
    border: 0;
    color: #fff;
    line-height: 39px; }

.brand-logos {
  display: flex;
  justify-content: space-around;
  width: 1160px;
  margin: 0 auto; }
  .brand-logos .brand-logos__item {
    display: block;
    margin-top: 89px;
    margin-bottom: 89px;
    opacity: .65; }
    .brand-logos .brand-logos__item:hover {
      opacity: 1; }

.footer {
  background-color: #2a2d32; }

.nav-block {
  margin-right: 40px;
  padding-top: 60px;
  padding-bottom: 70px; }
  .nav-block:last-child {
    margin-right: 0; }
  .nav-block .nav-block__title {
    color: #fff;
    font-size: 16px;
    font-family: Ubuntu;
    line-height: 1;
    margin-bottom: 36px;
    text-transform: uppercase; }
  .nav-block .nav-block__list .nav-block__item {
    width: 260px;
    border-bottom: 1px solid #393c40; }
    .nav-block .nav-block__list .nav-block__item .nav-block__link {
      color: #fff;
      font-size: 13px;
      font-family: Arial;
      line-height: 36px;
      opacity: .3; }
      .nav-block .nav-block__list .nav-block__item .nav-block__link:hover {
        color: #248cec;
        opacity: 1; }

.footer-copyright {
  background-color: #35383c; }
  .footer-copyright .copyright-container {
    justify-content: space-between; }
    .footer-copyright .copyright-container .copyright-links .copyright-links__item {
      color: #fff;
      font-size: 12px;
      font-family: Arial;
      line-height: 60px;
      margin-right: 40px;
      opacity: .2; }
      .footer-copyright .copyright-container .copyright-links .copyright-links__item .copyright-links__item-icon {
        margin-right: 10px; }
    .footer-copyright .copyright-container .copyright {
      color: #fff;
      font-size: 12px;
      font-family: Arial;
      line-height: 60px;
      opacity: .2; }
